<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>

<body>
  <main id="main-holder">
    <h1 id="login-header">Filtranator</h1>

    <form id="login-form" method = "POST">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username" method = "POST">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password" method = "POST">
      <input type="submit" value="Login" id="login-form-submit">
    </form>

  </main>
</body>

</html>
